<%- include('partials/header') %>

    <h1> <%= title %> </h1>
        
    <div id="pokemon-carrousel">
        <div id="pokemon-carrousel__holder">
            <% pokemon.forEach( (pokemon) => { %>
            <div href="#" class="pokemon-card">
                <img src="<%= pokemon.sprites.regular %>" alt="pokemon-img">
                <p><%= pokemon.name.fr %></p>
                <p><%= pokemon.category %></p>
                <div class="pokemon-card__favoris">
                    <a href="#">+</a>
                    <a href="#">-</a>
                </div>
            </div>
            <div href="#" class="pokemon-card">
                <img src="#" alt="pokemon-img">
                <p>pokemon-name</p>
                <p>pokemon-element</p>
                <div class="pokemon-card__favoris">
                    <a href="#">+</a>
                    <a href="#">-</a>
                </div>
            </div>
            <div href="#" class="pokemon-card">
                <img src="#" alt="pokemon-img">
                <p>pokemon-name</p>
                <p>pokemon-element</p>
                <div class="pokemon-card__favoris">
                    <a href="#">+</a>
                    <a href="#">-</a>
                </div>
            </div>
            <div href="#" class="pokemon-card">
                <img src="#" alt="pokemon-img">
                <p>pokemon-name</p>
                <p>pokemon-element</p>
                <div class="pokemon-card__favoris">
                    <a href="#">+</a>
                    <a href="#">-</a>
                </div>
            </div>
            <% }) %>
        </div>

    </div>

    <div class="main__search">
        <input type="search" id="site-search" name="q" />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

<%- include('partials/footer') %>